h5 {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

#letternav {
    display: flex;
    width: 100%;
    justify-content: center;
}

#searchbox {
    margin-top: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#searchbar {
    width: 20%;
}

.meaning {
    display: block;
}

#home-row {
    background: url("stumps.jpg") top center no-repeat;
    background-size: cover;
    height: 80vh;
}

#letter-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #a1887f;
    align-items: center;
    width: 70%;
    line-height: 2.5rem;
}

.letter-link {
    font-size: 1.5rem;
    display: inline-block;
}

#entry a {
    height: 1.5rem;
    width: 4.7rem;
    line-height: 1.6rem;
    font-size: 0.8rem;
    padding: 0 0.5rem;
    margin: 0 0.3rem;
}

.add-word button,
.edit-word button, 
.add-word a, 
.edit-word a {
    height: 1.5rem;
    width: 4.7rem;
    line-height: 1.6rem;
    font-size: 0.8rem;
    padding: 0 0.5rem;
    margin: 1em 0.3rem 1rem;
}

#add-meaning {
    height: 1.5rem;
    width: 10rem;
    line-height: 1.6rem;
    font-size: 0.8rem;
    padding: 0 0.5rem;
    display: block;
}

#flashes {
    display: none;
}

.modal {
    width: 30vw;
}

#login p,
#contactForm p {
    margin-bottom: 1.5rem;
}

.autocomplete input {
    position: absolute;
}
