.meaning {
    display: blocK;
}

#home-row {
    background: url("stumps.jpg") center center no-repeat;
    background-size: cover;
    height: 100vh;
    color: darkgreen;
}

#searchbox,
#letter-links {
    margin-top: 15vh;
}

#autoComplete {
    background-color: green;
    color: darkgreen;
}

.letter-link {
    font-size: 1.5rem;
    margin: 0.3rem;
}

.entry a {
    height: 1.5rem;
    width: 4.7rem;
    line-height: 1.6rem;
    font-size: 0.8rem;
    padding: 0 0.5rem;
    margin: 0 0.3rem;
}

.add-word button,
.edit-word button, 
.add-word a, 
.edit-word a {
    height: 1.5rem;
    width: 4.7rem;
    line-height: 1.6rem;
    font-size: 0.8rem;
    padding: 0 0.5rem;
    margin: 1em 0.3rem 1rem;
}

#add-meaning {
    height: 1.5rem;
    width: 10rem;
    line-height: 1.6rem;
    font-size: 0.8rem;
    padding: 0 0.5rem;
    display: block;
}

#flashes {
    display: none;
}

.modal {
    width: 30vw;
}

/* #letter-links {
    display: none;
} */

/* @media (min-width: 992px) {
    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 15rem;
        height: 100vh;
    }

    .nav-wrapper {
        background-color: green;
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
    }

    .brand-logo {
        display: block;
    }

    #autoComplete {
        background-color: darkgreen;
        position: absolute;
        top: 42%;
        height: 10%;
        width: 70%;
    }

    #nav-mobile {
        position: absolute;
        top: 10%;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    #nav-mobile li {
        display: block;
    }

    #letter-links {
        display: flex;
        flex-flow: row wrap;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    #letter-links p {
        position: absolute;
        top: -20%;        
    }

    .letter-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 11%;
        margin: 1px;   
    }

} */
