{% extends "base.html" %}

{% block content %}
<div>
    <form action="{{url_for('insert_word')}}", method ="POST">
        <input type="text" id="term" name="term" placeholder="word" />
        <br>
        <div id="meanings">
            <textarea class="meaning" id="meaning1" name="meaning1" placeholder="meaning 1" cols="40"></textarea>
        </div>
        <br>
        <button type="submit">Add word</button>
    </form>
    <button onclick="addMeaning()">Add another meaning</button>
</div>
{% endblock %}


