<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Googly</title>
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{{url_for('static', filename='img/favicon.ico')}}">
  <!-- Materialize Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize - Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
</head>
<body>
  <!-- Materialize navbar -->
  <nav class="nav light-green lighten-1">
	<div class="nav-wrapper">
	  <a href="{{url_for('index')}}" class="brand-logo"><img src="{{url_for('static', filename='img/ball.jpg')}}" alt="home"/></a>
	  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
		<li><a href="{{url_for('index')}}">Home</a></li>
		{% if "username" in session %}
		<li><a href="{{url_for('add_word')}}">New word</a></li>
		<li><a href="{{url_for('logout')}}">Log out</a></li>
		{% else %}
		<li><a href="{{url_for('contribute')}}">Contribute</a></li>
		{% endif %}
	  </ul>
	  <ul class="side-nav" id="mobile-demo">
		<li><a href="{{url_for('index')}}">Home</a></li>
		{% if "username" in session %}
		<li><a href="{{url_for('add_word')}}">New word</a></li>
		<li><a href="{{url_for('logout')}}">Log out</a></li>
		{% else %}
		<li><a href="{{url_for('contribute')}}">Contribute</a></li>
		{% endif %}
	  </ul>
  	</div>
  </nav>
  <!-- ./navbar -->
  <div class="wrapper">
        
    {% block content %}
    {% endblock %}

    <div id="searchandindex">
      <div id="searchbox">
        <form action="{{url_for('find_words')}}" method="POST">
          <div id="searchbar" class="input-field">
            <i class="material-icons prefix">search</i>
            <input type="search" name="search" id="search" placeholder="Search word...">
          </div>
        </form>
      </div>
      <div id="letternav">
        <ul id="letter-links">
          <li id="index-title">Index</li>
          {% for letter in letters %}
          <li><a class="letter-link" href="{{url_for('display_letter', letter=letter)}}">{{letter}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div id="flashes">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="message">{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
  <footer>
    <p>&copy;&nbsp;2020 by <a href="https://github.com/bravoalpha79" target="_blank">bravoalpha79</a> for educational purposes.</p> 
  </footer>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <!-- Materialize - Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <!-- emailJS initialisation -->
  <script src="https://cdn.jsdelivr.net/npm/emailjs-com@2.3.2/dist/email.min.js"></script>
  <script>
	(function(){
        emailjs.init("user_jYwaBLy9blrZ9N1FYxk8c");
    })();
  </script>
  <!-- Custom JavaScript-->
  <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>

</html>