<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Googly</title>
</head>
<body>
<div>
    <ul>
        <li><a href="{{url_for('index')}}">Home</a></li>
        <li><a href="{{url_for('add_word')}}">New word</a></li>
    </ul>
</div>
<div>
    {% for letter in letters %}
        <a href="{{url_for('display_letter', letter=letter)}}">{{letter}}</a>
    {% endfor %}
</div>
<br>

    {% block content %}
    {% endblock %}

<br>
<!-- Flash messages code snippet copied from https://flask.palletsprojects.com/ -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<script>
    function addMeaning() {
        let meaningList = document.getElementsByClassName("meaning");
        let newMeaningNum = meaningList.length + 1;
        let newMeaning = document.createElement("textarea");
        
        newMeaning.id = `meaning${newMeaningNum}`;
        newMeaning.setAttribute("class", "meaning");
        newMeaning.setAttribute("name", `meaning${newMeaningNum}`);
        newMeaning.setAttribute("placeholder", `meaning ${newMeaningNum}`);
        newMeaning.setAttribute("cols", "40");

        document.getElementById("meanings").appendChild(newMeaning);
    }
</script>

</body>
</html>