{% extends "base.html" %}

{% block content %}
<div class="container">
    <form class="edit-word"action="{{url_for('update_word', word_id=word._id)}}", method ="POST">
        <div class="row">
            <div class="input-field col s8">
                <input type="text" id="term" name="term" value="{{word.term}}" required disabled/>
                <label for="term">word</label>
            </div>
        </div>
        <div id="meanings">
        {% for meaning in word.meanings %}
            <div class="row">
                <div class="input-field col s8">
                {% if loop.index == 1 %}
                    <textarea class="meaning materialize-textarea" id="meaning{{loop.index}}" name="meaning{{loop.index}}" required>{{meaning}}</textarea>
                {% else %}
                    <textarea class="meaning materialize-textarea" id="meaning{{loop.index}}" name="meaning{{loop.index}}">{{meaning}}</textarea>
                {% endif %}
                    <label for="meaning{{loop.index}}">meaning {{loop.index}}</label>
                </div>
            </div>
        {% endfor %}
        </div>    
        <br>
        <a id="add-meaning" class="waves-effect waves-light btn cyan lighten-3" onclick="addMeaning()">Add meaning</a>
        <button class="waves-effect waves-light btn" type="submit">Update</button>
        <a class="waves-effect waves-light btn grey" href="{{url_for('display_word', word=word.term)}}">Cancel</a>
    </form>
</div>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
{% endblock %}