{% extends "base.html" %}

{% block content %}
<div class="wallpaper">
    <div class="content">
        <div id="welcome">
            <h1>Welcome to Googly!</h1>
        </div>
        <div id="ethos">
        {% if "username" in session %}
            <p>Googly is an online glossary of Cricket, open to contribution by registered users.<p>
        {% else %}
            <p>Googly is an online glossary of Cricket, open to <a href="{{url_for('contribute')}}">contribution</a> by registered users.<p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}