{% extends "base.html" %}

{% block content %}
<div class="wallpaper">
    <div class="content">
        <div class="row text-frame">
            <div class="col s10 offset-s1">
                {% if not index[0] %}
                    <p>No entry found.<p>
                {% else %}
                    <h4>Index for <strong>{{letter}}</strong>:</h4>
                    {% for word in index %}
                        <a class="wordlink" href="{{url_for('display_word', word=word.term)}}">{{word.term}}</a>
                        <br>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}