{% extends "base.html" %}

{% block content %}
<div class="row wallpaper" id="word-entry">
    <div id="entry" class="col s8 offset-s2 m6 offset-m4 l4 offset-l4">
        <div class="text-frame">
                <h3>{{word.term}}</h3>

                {% for meaning in word.meanings %}
                    <p>{{loop.index}}. {{meaning}}.</p>
                {% endfor %}

                {% if "username" in session %}
                <!-- Materialize buttons -->
                <a id="editentry" class="waves-effect waves-light btn blue" href="{{url_for('edit_word', word_id=word._id)}}">Edit</a>
                <a id="deleteentry" class="waves-effect waves-light btn red modal-trigger" href="#deletion-modal">Delete</a>
                {% endif %}
        </div>
    </div>
</div>
<!-- Materialize Modal Structure -->
<div id="deletion-modal" class="modal">
	<div class="modal-content">
        <i class="material-icons">warning</i>
		<h4>Delete entry?</h4>
		<p><em>"{{word.term}}"</em></p>
	</div>
	<div class="modal-footer">
		<a href="{{url_for('delete_word', word_id=word._id)}}"
			class="modal-action waves-effect waves-green btn-flat">Delete</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
	</div>
</div>

{% endblock %}