{% extends "base.html" %}

{% block content %}
<div class="entry">
	<h3>{{word.term}}</h3>

	{% for meaning in word.meanings %}
	<p>{{loop.index}}. {{meaning}}.</p>
	{% endfor %}

    {% if "contributor" in session["username"] %}
	<!-- Materialize buttons -->
	<a class="waves-effect waves-light btn blue" href="{{url_for('edit_word', word_id=word._id)}}">Edit</a>
	<a class="waves-effect waves-light btn red modal-trigger" href="#deletion-modal">Delete</a>
    {% endif %}
</div>
<!-- Materialize Modal Structure -->
<div id="deletion-modal" class="modal">
	<div class="modal-content">
		<h4>Delete entry?</h4>
		<p>{{word.term}}</p>
	</div>
	<div class="modal-footer">
		<a href="{{url_for('delete_word', word_id=word._id)}}"
			class="modal-action waves-effect waves-green btn-flat">Delete</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
	</div>
</div>

{% endblock %}